name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        name: [
          windows-vs2022-x64-avx2-shared,
          windows-vs2022-x64-avx2-shared-debug,
          windows-vs2022-x64-avx512-shared,
          windows-vs2022-x64-avx512-shared-debug,
          windows-vs2022-x64-avx10-shared,
          windows-vs2022-x64-avx10-shared-debug,
          windows-vs2022-arm64-shared,
          windows-vs2022-arm64-shared-debug
        ]
        include:
          - name: windows-vs2022-x64-avx2-shared
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx2'
            build_type: 'Release'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX2"
              -DCMAKE_CXX_FLAGS="/arch:AVX2"
          - name: windows-vs2022-x64-avx2-shared-debug
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx2-debug'
            build_type: 'Debug'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX2"
              -DCMAKE_CXX_FLAGS="/arch:AVX2"

          - name: windows-vs2022-x64-avx512-shared
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx512'
            build_type: 'Release'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX512"
              -DCMAKE_CXX_FLAGS="/arch:AVX512"

          - name: windows-vs2022-x64-avx512-shared-debug
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx512-debug'
            build_type: 'Debug'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX512"
              -DCMAKE_CXX_FLAGS="/arch:AVX512"

          - name: windows-vs2022-x64-avx10-shared
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx10'
            build_type: 'Release'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX10.1"
              -DCMAKE_CXX_FLAGS="/arch:AVX10.1"

          - name: windows-vs2022-x64-avx10-shared-debug
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-x64-avx10-debug'
            build_type: 'Debug'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake
              -DCMAKE_C_FLAGS="/arch:AVX10.1"
              -DCMAKE_CXX_FLAGS="/arch:AVX10.1"

          - name: windows-vs2022-arm64-shared
            os: windows-11-arm
            triplet: 'arm64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-arm64'
            build_type: 'Release'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DCMAKE_GENERATOR_PLATFORM=ARM64
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=arm64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake

          - name: windows-vs2022-arm64-shared-debug
            os: windows-11-arm
            triplet: 'arm64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            artifact-name: 'libsndfile-arm64-debug'
            build_type: 'Debug'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DCMAKE_GENERATOR_PLATFORM=ARM64
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Debug
              -DVCPKG_TARGET_TRIPLET=arm64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup NuGet Credentials
        env:
          VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
        if: startsWith(matrix.os,'windows')
        shell: 'bash'
        run: >
          `vcpkg fetch nuget | tail -n 1`
          sources add
          -source "https://nuget.pkg.github.com/libsndfile/index.json"
          -storepasswordincleartext
          -name "GitHub"
          -username "evpobr"
          -password "${{ secrets.GITHUB_TOKEN }}"

      - name: Configure, build and test with CMake
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
          VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
        if: startsWith(matrix.build-system,'cmake')
        run: |
          mkdir build
          cd build
          cmake .. -G "${{matrix.cmake-generator}}" ${{matrix.cmake-options}}
          cmake --build . --config ${{matrix.build_type}}
          ctest

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        if: startsWith(matrix.build-system,'cmake')
        with:
          name: ${{ matrix.artifact-name }}
          path: |
            build/${{matrix.build_type}}/*.dll
            build/${{matrix.build_type}}/*.lib
            build/${{matrix.build_type}}/*.pdb
            include/*.h
            include/*.hh
          if-no-files-found: error
