name: C/C++ CI

on: [push, pull_request]

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        name: [
          windows-vs2022-x64-shared,
          windows-vs2022-arm64-shared
        ]
        include:
          - name: windows-vs2022-x64-shared
            os: windows-2025
            triplet: 'x64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=x64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake

          - name: windows-vs2022-arm64-shared
            os: windows-11-arm
            triplet: 'arm64-windows-static'
            build-system: cmake
            cmake-generator: 'Visual Studio 17 2022'
            cmake-options: >-
              -DCMAKE_MSVC_RUNTIME_LIBRARY=MultiThreaded$<$<CONFIG:Debug>:Debug>
              -DBUILD_SHARED_LIBS=ON
              -DCMAKE_GENERATOR_PLATFORM=ARM64
              -DBUILD_REGTEST=OFF
              -DBUILD_EXAMPLES=OFF
              -DINSTALL_PKGCONFIG_MODULE=OFF
              -DCMAKE_BUILD_TYPE=Release
              -DVCPKG_TARGET_TRIPLET=arm64-windows-static
              -DCMAKE_TOOLCHAIN_FILE=c:/vcpkg/scripts/buildsystems/vcpkg.cmake

    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup NuGet Credentials
        env:
          VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
        if: startsWith(matrix.os,'windows')
        shell: 'bash'
        run: >
          `vcpkg fetch nuget | tail -n 1`
          sources add
          -source "https://nuget.pkg.github.com/libsndfile/index.json"
          -storepasswordincleartext
          -name "GitHub"
          -username "evpobr"
          -password "${{ secrets.GITHUB_TOKEN }}"

      - name: Configure, build and test with CMake
        env:
          CC: ${{ matrix.cc }}
          CXX: ${{ matrix.cxx }}
          VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'
        if: startsWith(matrix.build-system,'cmake')
        run: |
          mkdir build
          cd build
          cmake .. -G "${{matrix.cmake-generator}}" ${{matrix.cmake-options}}
          cmake --build . --config Release
          ctest
